@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Teko:wght@400;500&display=swap');

/* -- Global Properties -- */
* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	text-decoration: none;
	scroll-behavior: smooth;
}

::selection {
	color: blue;
	background: grey;
}

:root {
	--link-hover-color: orangered;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

li {
	list-style-type: none;
}

/* - Style for other-services header - */
.other-services {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.4rem;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 1rem;
	background-color: beige;
}

.other-services a {
	color: black;
}

.other-services a i {
	color: orangered;
}

.other-services a:hover {
	color: var(--link-hover-color);
}

.other-services a:active {
	color: grey;
}
/* - End of other-services header style -*/

/* - Style for header - */
.my-header {
	background-color: rgb(238, 131, 92);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 1200;
}

.logo, .logo span {
	font-size: 3rem;
	font-weight: 20rem;
	font-family: 'Teko', 'Poppins', sans-serif;
}
.logo span {
	font-family: 'Pacifico','Teko', 'Poppins', cursive, sans-serif;
	color: black;
}

.search-box {
	width: 45%;
	height: 2.5rem;
	position: relative;
}

.search, .search-button {
	height: 100%;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	position: absolute;
}

.search {
	width: 100%;
	border: none;
}

.search-button {
	width: 15%;
	z-index: 10;
	top: 0;
	right: 0;
}

.search-button:hover {
	color: var(--link-hover-color);
}

.user-box, .help-box {
	position: relative;
	display: inline-block;
	height: 100%;
}

.u-account:hover, .help:hover {
	color: grey;
}

.user-box ul, .help-box ul {
	display: none;
	position: absolute;
	width: 210px;
	background-color: lightgray;
	border-radius: 30px;
	padding: 30px;
	margin-left: -40%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown li {
	margin: 0;
	padding: 5px 0;
}

.dropdown li a {
	padding-top: 5px;
	color: black;
	margin: 0;
	display: block;
	text-align: center;
	font-size: 0.9em;
	text-transform: none;
}

.dropdown li a:hover {
	color: var(--link-hover-color);
}

.line-divide1 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.user-box:hover ul, .help-box:hover ul {
	display: block;
}

.cart-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 7%;
}

.cart-text {
	font-size: 0.8rem;
}

.cart-text i {
	font-size: 2.5rem;
}

.cart-count {
	padding: 3px;
	background: grey;
}
/* - End of style for myheader - */

/* Start of style for footer */
footer {
	width: 100%;
	background-color: #454545;
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

footer section {
	margin-top: 25px;
	margin-bottom: 25px;
}

footer section h3 {
	text-align: center;
	color: white;
}

footer div a:hover {
	color: var(--link-hover-color);
}

.social-media a i {
	font-size: 3em;
}

.info a {
	display: block;
}

.subscribe {
	height: 3rem;
	width: 30%;
}

.subscription {
	margin-top: 10px;
	width: 100%;
	height: 3rem;
	position: relative;
}

.subscriber, .subscriber-submit {
	height: 100%;
	border-radius: 20px;
	position: absolute;
}

.subscriber {
	width: 100%;
	border: none;
}

.subscriber-submit {
	width: 15%;
	z-index: 60;
	right: 0;
	background-color: grey;
}

.subscriber-submit:hover {
	background-color: var(--link-hover-color);
}
/* End of footer */
