/* - Style for main - */
main {
	width: 95%;
	margin: auto;
}

/* Start style for home */
.home {
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 470px;
	margin-top: 20px;
}

/*  Start of Style for home category */
.category {
	background-color: lightgray;
	width: 18%;
	height: 100%;
	border-radius: 25px;
	padding: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.category a {
	display: block;
	color: black;
	text-align: center;
	font-size: 0.9em;
	text-transform: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

.category a:nth-child(1) {
	padding-top: 5px;
}

.category a:hover {
	color: var(--link-hover-color);
}

.category hr {
	color: rgba(226, 80, 22, 0.09);
}
/* End of Style for home category */

/** Start of style for home slideshow**/
.image-slide {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper {
	height: 100%;
	width: 100%;
	border-radius: 25px;
}

.swiper-slide a img {
	height: 100%;
	width: 100%;
	border-radius: 25px;
}

.swiper .swiper-pagination-bullet-active {
	background: white;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: white;
}

.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover {
	background-color: rgba(0, 0, 0, 0.25);
	width: 40px
}
/** End of style for home slideshow **/

/* Start of Style for item pictures section */
.item-pictures {
	width: 100%;
	height: 470px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgba(253, 68, 0, 0.06);
	margin-top: 20px;
	border-radius: 25px;
}

.product-picture {
	height: 48%;
	width: 16%;
	background-color: white;
	border-radius: 20px;
	position: relative;
}

.product-picture p {
	z-index: 500;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}

.product-picture:hover {
	height: 48.2%;
	box-shadow: rgba(0, 0, 0, 0.4);
}

.product-picture img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
/** End of items pictures section **/

/* Start for group-box */
.group-box {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: rgba(253, 68, 0, 0.06);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	margin-top: 40px;
	border-radius: 25px;
}


.group-box h3 {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	background-color: lightgray;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.group-box div {
	width: 100%;
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	bottom: 0;
}

.sec-picture {
	height: 98%;
	border-radius: 30px;
	width: 16%;
	background-color: white;
	position: relative;
}

.sec-picture p {
	z-index: 500;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	text-align: center;
}

.sec-picture:hover {
	height: 99.2%;
	box-shadow: rgba(0, 0, 0, 0.4);
}

.sec-picture img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

/* Start of style for summary*/
.summary {
	margin-top: 20px;
}
.summary h3 {
	margin-bottom: 2px;
	font-family: 'Pacifico','Teko', 'Poppins', cursive, sans-serif;
	font-size: 1.4em;
	color: rgba(0, 0, 0, 0.7)
}

.summary p {
	text-transform: none;
	font-size: 0.9em;
}
/** End of Summary **/
