.sign-in, .sign-up {
	display: none;
}

.dropdown {
	right: 10%;
}

.contact-form {
	display: block;
	width: 60%;
	margin: 5% auto;
	position: relative;
}

.contact-form h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: lighter;
}

label {
	display: block;
}

.form-text {
	font-size: 0.8rem;
}

.contact, .contact-submit {
	width: 60%;
	display: block;
	margin: 3% auto;
	position: relative;
}

.flashes {
	background-color: rgba(53, 184, 81, 0.6);
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	position: relative;
	text-align: center;
}

.flash-text {
	color: white;
}

.multiple-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my-username {
	width: 49%;
}

.form-control {
	width: 100%;
	height: 2rem;
}

.description {
	height: 6rem;
	text-transform: none;
	padding: 8px;
}

.contact ul li {
	list-style-type: disc;
	margin-left: 3%;
}

.image-file {
	padding: 0;
	cursor: pointer;
}

.contact-submit {
	height: 3rem;
	color: white;
	background-color: var(--bg-color);
	border: none;
	cursor: pointer;
}

.form-login {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 15%;
}

.form-link {
	color: rgb(221, 146, 47);
	font-size: 0.8em;
}

.form-link:hover {
	text-decoration: underline;
	color: var(--link-hover-color);
}
