<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Homepage of an E-Commerce Website">
		<meta keywords="shop, purchase, pay">
		<meta name="author" content="Binael Nchekwube">
		<title>OdogwuStore</title>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png">
		<!-- Custom stylesheet -->
		<link rel="stylesheet" type="text/css" href="./styles/home.css">
		<!-- Boxicons  -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
		<!-- Swiper Js for auto image slider-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	</head>
	<body>
		<!-- header begins here -->
		<header class="other-services">
				<a href="#O-Pay"><i class="bx bx-money"></i> O-Pay</a>
				<a href="#O-Logistics"><i class="bx bx-bus"></i>O-Logistics</a>
				<a href="#O-Sellers"><i class="bx bx-group" ></i>O-Sellers</a>
				<a href="#O-Food"><i class="bx bx-bowl-rice"></i>O-Food</a>
		</header>
		<header class="my-header">
			<a class="logo" href="#">Odogwu<span>S</span>tore</a>
			<form action="" id="search-box" class="search-box">
				<input type="search" id="search" class="search" name="keyword" placeholder="Search Products, Names ...">
				<input type="submit" class="search-button" value="Search">
			</form>
			<div class="user-box">
				<a href="#u-account" class="u-account"><i class='bx bxs-user'></i> Account <i class='bx bxs-chevron-down'></i></a>
				<ul class="dropdown">
					<li><a href="#login" class="login">Login</a></li>
					<li><a href="#sign-up">Sign Up</a></li>
					<hr class="line-divide1">
					<li><a href="#tracker">Tracker</a></li>
					<li><a href="#favorites">Favorites</a></li>
					<li><a href="#purchases">Purchases</a></li>
				</ul>
			</div>
			<div class="help-box">
				<a href="#help" class="help"><i class='bx bxs-help-circle' ></i> Help <i class='bx bxs-chevron-down'></i></a>
				<ul class="dropdown">
					<li><a href="#contact-us">Contact Us</a></li>
					<li><a href="#place-order">Place Order</a></li>
					<li><a href="#return-refund">Return and Refund</a></li>
					<li><a href="#cancel-order">Cancel Order</a></li>
				</ul>
			</div>
			<a href="#Cart" class="cart-icon" id="cart-icon">
				<p class="cart-text"><i class='bx bx-cart-alt'></i>Cart</p>
				<div class="cart-count" id="cart-count">0</div>
			</a>
		</header>
		<!-- header ends-->

		<!-- main body of the website -->
		<main>
			<section class="home" id="#home">
				<nav class="category">
					<a href="appliances">Appliances</a><hr>
					<a href="computer-accessories">Computer and Accessories</a><hr>
					<a href="fashion">Fashion</a><hr>
					<a href="furniture">Furniture</a><hr>
					<a href="games-toys">Games and Toys</a><hr>
					<a href="groceries">Groceries</a><hr>
					<a href="health-beauty">Health and Beauty</a><hr>
					<a href="home-office">Home and Office</a><hr>
					<a href="jewelries-watches">Jewelries and Watches</a><hr>
					<a href="phones-tablets">Phones and Tablets</a><hr>
					<a href="#other-categories">Other Categories</a>
				</nav>
				<div class="image-slide">
					<!-- Slider main container -->
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/below_5k.jpg" alt="Below 5K Products"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/electronics.webp" alt="Electronics"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/phones2.png" alt="Phones"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/fashion.jpg" alt="Fashion"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/flash_sales.jpg" alt="Flash Sales"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/groceries.jpg" alt="Groceries"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/health_beauty.webp" alt="Health and Beauty"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/kitchen.jpg" alt="kitchen Appliances"></a></div>
							<div class="swiper-slide"><a><img src="./images/Ecommerce_images/phones.webp" alt="Phones"></a></div>
						</div>
						<!-- pagination -->
						<div class="swiper-pagination"></div>
						<!-- navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</section>
			<section class="item-pictures">
				<a class="product-picture" href="">
					<img src="./images/category/television.webp">
					<p>Televisions</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/book.jpg">
					<p>Books</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/fashion.jpg">
					<p>Shoes</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/furniture.webp">
					<p>Furnitures</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/games.png">
					<p>Games</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/generator.jpg">
					<p>Generators</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/groceries.png">
					<p>Groceries</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/jewelries.jpg">
					<p>Jewelries</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/laptop.jpg">
					<p>Laptops</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/phones.png">
					<p>Phones</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/refrigerator.png">
					<p>Refrigerators</p>
				</a>
				<a class="product-picture" href="">
					<img src="./images/category/watch.jpg">
					<p>Watches</p>
				</a>
			</section>
			<section class="bk group-box">
				<h3>Books</h3>
				<div>
					<a class="sec-picture" href="">
						<img src="./images/books/investing.jfif">
						<p>Investing</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/books/scifi.jfif">
						<p>Sci-Fi</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/books/textbooks.jfif">
						<p>Text Books</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/books/non_fiction.jfif">
						<p>Non-Fiction</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/books/leadership.jfif">
						<p>Leadership</p>
					</a>
				</div>
			</section>
			<section class="h-b group-box">
				<h3>Health and Beauty</h3>
				<div>
					<a class="sec-picture" href="">
						<img src="./images/health_beauty/skin_care.jfif">
						<p>Skin Care</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/health_beauty/hair_clippers.jfif">
						<p>Hair Clippers</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/health_beauty/make_up.jfif">
						<p>Make Up</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/health_beauty/wigs.jfif">
						<p>Wigs</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/health_beauty/perfumes.jfif">
						<p>Perfumes</p>
					</a>
				</div>
			</section>
			<section class="ph group-box">
				<h3>Phones and Tablets</h3>
				<div>
					<a class="sec-picture" href="">
						<img src="./images/phones/phone_android.jfif">
						<p>Android Phones</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/phones/phone_apple.jfif">
						<p>Apple Phones</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/phones/phone_windows.jfif">
						<p>Window Phones</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/phones/tablet_android.jfif">
						<p>Android Tablets</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/phones/tablet_apple.jfif">
						<p>Apple Tablets</p>
					</a>
				</div>
			</section>
			<section class="fa group-box">
				<h3>Fashion</h3>
				<div>
					<a class="sec-picture" href="">
						<img src="./images/fashion/women_cloth.jfif">
						<p>Women Clothing</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/fashion/women_shoes.jfif">
						<p>Women Shoes</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/fashion/men_cloth.jfif">
						<p>Men Clothing</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/fashion/men_shoes.jfif">
						<p>Men Shoes</p>
					</a>
					<a class="sec-picture" href="">
						<img src="./images/fashion/belt.jfif">
						<p>Belts</p>
					</a>
				</div>
			</section>
			<section class="summary">
				<h3>Odogwu Stores - The Ultimate Shopping Destination</h3>
				<p>At our online store, we bring you an exquisite collection of products that cater to all your needs and desires. Whether you're searching for <em>Mkpolugwu na Mkpakwukwo</em>, latest gadgets, trendy fashion, home essentials, or unique gifts, we have it all. Our store is your one-stop shop for high-quality items at affordable prices. With a user-friendly website and exceptional customer support, we make your shopping experience hassle-free and enjoyable. Welcome to a world of endless possibilities and extraordinary products. Start exploring today and transform your shopping into an exciting journey of discovery!</p>
			</section>
		</main>
		<!-- main body ends-->

		<!-- footer begins-->
		<footer>
			<section class="connect-us">
				<h3>Connect With Us</h3>
				<div class="social-media">
					<a href="https://twitter.com/binaelnchekwube"><i class='bx bxl-twitter'></i></a>
					<a href="https://web.facebook.com/nbinael"><i class='bx bxl-facebook-square'></i></i></a>
					<a href="https://www.instagram.com/nbinael/"><i class='bx bxl-instagram-alt'></i></a>
					<a href="https://wa.link/plwc0u"><i class='bx bxl-whatsapp-square'></i></a>
					<a href="https://www.linkedin.com/in/binael-nchekwube-777001109"><i class='bx bxl-linkedin-square' ></i></a>
				</div>
			</section>
			<section class="about-us">
				<h3>About Us</h3>
				<div class="about info">
					<a class="faq" title="Frequently Asked Questions">FAQ</a>
					<a class="about">About Us</a>
				</div>
			</section>
			<section class="partner-us">
				<h3>Partner With Us</h3>
				<div class="partner info">
					<a href="" class="partner-seller">Seller Partner</a>
					<a href="" class="partner-logistics">Logistics Partner</a>
					<a href="" class="markerter">Markerting Partner</a>
				</div>
			</section>
			<section class="subscribe">
				<h3>Subscribe To Our NewsLetter</h3>
				<form action="" class="subscription">
					<input type="text" placeholder="Email" name="suscriber" class="subscriber">
					<input type="submit" value="Submit" class="subscriber-submit">
				</form>
			</section>
		</footer>
		<!-- footer ends-->

		<!-- jQuery cdn link-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<!--Custom js script link-->
		<script src="./js/home.js"></script>
		<!-- Swiper js script link-->
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<!-- Import Swiper Module-->
		<script type="module">
			import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
		</script>
		<!-- Swiper JS Code-->
		<script>
			const swiper = new Swiper('.swiper', {
				autoplay: {
					delay: 3000,
					disableOnInteraction: false,
				},
				loop: true,
				pagination: {
				el: '.swiper-pagination',
				clickable: true,
				},
				navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
				},
			});
		</script>
	</body>
</html>
